:root {
  --text-primary: #101d42;
  --text-secondary: #fbb44c;
  --text-dark: #2b2922;
  --text-light: #eaeaea;
  --text-white: #ffffff;
  --bg-primary: #141e4c;
  --bg-secondary: #dfedf5;
  --bg-dark: #101d42;
  --bg-light: #ffffff;
  --button-color: #2bb686;
}

.border-custom {
  border-bottom: 1px solid gray;
}

.card-body span i {
  font-size: 1.5rem;
  color: var(--bg-primary);
}
.card-body a {
  text-decoration: none;
  color: gray;
}
.btn-primary {
  background-color: var(--button-color);
}
